/*global reset*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Epilogue', sans-serif;
	color: #43464b;
	background-color: rgba(40,60,80, 0.20), rgba(40,60,80,0.80);

}

/*media query for mobile*/
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
	background-image: linear-gradient(rgba(40,60,80, 0.10), rgba(40,60,80,0.10)),url('../images/bg-main2.png');
	background-size: auto; /* to ensure image doesn't show as actual size, like cover image regardless of vh value below */
	background-repeat: no-repeat; /* if image is small, bg will be tiled, so use this to no repeat */
	background-position: center;  /* to indicate placement of background */
	/*viewport height */
	height: 100;  /*height of user's screen that visits website, if 100 means occupy 100 percent of user's view screen; makes background look responsive*/ 
	top: 100vh;
	width: 100%;
	background-color: rgba(40,60,80, 0.25);
	padding-top: 1rem;
	margin-bottom: 5rem;
}

/*index.html*/
.main-page {
	margin: 12rem;
}

#home-header {
	display: flex;
	flex-direction: column;
}
/*.col-8 {
	margin-top: 5rem;
	margin-left: 1rem;
	padding: 1rem;
}*/

.col-8 h1 {
	font-size: 3rem;
}

.col-8 h3 {
	font-size: 1.5rem;
}

/*register page*/
.register-page {
	margin: 7rem;
}

#studentRegForm {
	margin-left: 1rem;
	display: none;
	margin-bottom: 1rem;
}

#reg-header {
	margin: 1rem;
}
.main-buttons, .register-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1rem;
	padding: 10px;
	margin-left: 1rem;
}

#login-btn, #register-btn, #register-go-btn, #no-register-btn, #putUserDetails, #cancelPut, #logoutBtn {
	padding: 10px;
	border-radius: 15px;
	margin: 10px;
	background-color: #bfae48;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	color: #43464b;
}

#editUserDetails, #deactivateUser {
	padding: 10px;
	border-radius: 15px;
	margin: 10px;
	background-color: #bfae48;
	transition-duration: 0.4s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	color: #43464b;
}

#reg-page {
	color: #43464b;
}

#login-btn:hover, #register-btn:hover, #register-go-btn:hover, #no-register-btn:hover, #editUserDetails:hover, #deactivateUser:hover, #cancelPut:hover, #putUserDetails:hover, #logoutBtn:hover {
	background-color: #f5edf0;
}

#paw-btn, #dog-btn {
	padding-right: 15px;
}

.login-form {
	font-size: 1.25rem;
	display: none;
	width: 100%;
	margin-left: 3rem;
	padding-top: .5rem;
	margin-bottom: 1rem;
}
/*Student profile page*/
.student-profile-page {
	margin-bottom: 5 rem;
	margin-left: 4rem;
}

#mainStudentInfo {
	margin-top: 1rem;
	background-color: rgba(40,60,80, 0.55);
	display: inline;
	padding-top: 2rem;
}

.profile-subheader {
	margin: 10px;
}
#userInfoblock {

}

#updateStudentDetails {
	display: none;
}

/*universals*/
footer {
	padding: 0.7rem;
	text-align: center;
	font-size: .75rem;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-color: ;
}

footer span {
	margin: 0 0.5rem;
}